# Core functionality - changes here should be rare!
/src/app.py                   @tomassolovsky
/src/backend/database.py      @tomassolovsky
/src/backend/routers/auth.py  @tomassolovsky

# The frontend will need refactored soon to be more object oriented.
/src/static/   @tomassolovsky
